<body>
	<form id="sendData" action="/send-file" method="POST" enctype="multipart/form-data">
		<input id="inputData" name="inputData" type="file" />
		<button type="submit">Go</button>
	</form>
</body>