<body>
	<form id="sendData" action="/add-season" method="POST" enctype="multipart/form-data">
		<input id="inputData" name="inputData" type="file" multiple />
		<button type="submit">Go</button>
	</form>
</body>